body {
    background-color: #DADADA;
    background: #DADADA;
}

body.pushable>.pusher {
    background: #DADADA;
}
body > .grid {
    height: 100%;
}
.column {
    max-width: 450px;
}
.ng-invalid.ng-dirty{
    border-color: red;
}
.ng-valid.ng-dirty{
    border-color: green;
}
.ui.menu .item{
    padding: 10px
}
.ui.tabular.menu .active.item{
	background: ghostwhite;
}
.ui.segment{
	background: ghostwhite;
}
#remark{
    background: whitesmoke;
    box-shadow: 2px 0 2px grey;
    color: teal;
}
#balLoader:after{
    left: 20%
}
#balLoader:before{
    left: 20%
}

.change{
	transition: font-size 0.4s;
}
.blur{
    color: grey;
    font-size: 1.4rem;
    
  
}
.blur:hover{
    color: grey;
}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.view.ng-enter{
	position: absolute;
	top:0;
	right:0;
	width: 100%
}

.view.ng-leave{
	position: absolute;
	top:0;
	right:0;
	left:0;
}

.remark{
	transition: 0.4s;
}

.credit.ng-enter,.imprest.ng-enter,.vendor.ng-enter,.inbox.ng-enter,.remark.ng-enter{
	animation: 0.5s slideInUp ease;
}

.imprest.ng-leave,.credit.ng-leave{
	animation: 0.5s lightSpeedOut ease;
}

.credit.ng-enter-stagger,.vendor.ng-enter-stagger{
	transition-delay: 0.3s;
	transition-duration: 0;
}

.data.ng-enter{
	animation: 0.6s slideInDown ease;
}

.data.ng-leave{
	animation: 0.6s slideOutUp ease;
}

.inbox.ng-leave{
	animation: 0.5s slideOutLeft ease;
}

.unread.ng-enter{
	animation: 0.5s slideInDown ease;
}

.view.ng-enter 		{  
    animation: 0.6s zoomIn ease;    
}

.imGrid.ng-hide-remove {
	animation: 0.5s zoomIn ease;
}

.imGrid.ng-hide-add{
	animation: 0.5s zoomOut ease;
}

.link.ng-hide-remove{
	animation: 0.5s slideInRight ease;
}

.link.ng-hide-add{
	animation: 0.5s slideOutRight ease;
}

.select.ng-hide-add{
	animation: 0.5s slideOutUp ease;
}

.select.ng-hide-remove{
	animation: 0.5s slideInDown ease;
}

.newVendor.ng-hide-remove{
	animation: 0.5s slideInDown ease;
}

.newVendor.ng-hide-add{
	animation: 0.5s slideOutUp ease;
}

.on.ng-hide-remove{
	animation: 0.7s zoomIn ease;
}

.on.ng-hide-add{
	animation: 0.5s fadeOut ease;
}

.remark.ng-hide-remove{
	animation: 0.5s fadeInDown ease;
}

.remark.ng-hide-add{
	animation: 0.5s fadeOutUp ease;
}

.jobForm.ng-hide-remove{
	animation: 0.5s slideInDown ease;
}

.jobForm.ng-hide-add{
	animation: 0.5s slideOutUp ease;
}

.jobs.ng-hide-remove{
	animation: 0.5s zoomIn ease;
}

.passwordChange.ng-hide-add,.formsGrid.ng-hide-add{
	animation: 0.5s lightSpeedOut ease;
}

.passwordChange.ng-hide-remove,.formsGrid.ng-hide-remove{
	animation: 0.5s fadeInUpBig ease;
}

.filter.ng-hide-remove,.filterUser.ng-hide-remove{
	animation: 0.5s fadeInUp ease;
}

.filter.ng-hide-add,.filterUser.ng-hide-add{
	animation: 0.5s slideOutLeft ease;
}

.filter.ng-enter,.filterUser.ng-enter{
	animation: 0.5s slideInUp ease;
}

.filter.ng-leave,.filterUser.ng-leave{
	animation: 0.5s slideOutLeft ease;
}

.filter.ng-leave-stagger{
	transition-delay: 0.3s;
	transition-duration: 0;
}

.board.ng-enter{
	animation: 0.5s slideInLeft ease;
}

.balance.ng-hide-remove{
	animation: 0.5s zoomIn ease;
}

#show{
    background: rgba(0,0,0,.70);
    width: 250px;
    height: 50px;
    text-align: center;
    padding: 12px;
    border: 1px solid rgba(0,0,0,.87);
    border-radius: 5px;
    box-shadow: 3px 3px 7px 4px rgba(0,0,0,.26);
    color: snow;
    font-weight: 500;
    position: fixed;
    right: 10px;  
    bottom: -60px;
    transition: 0.5s; 
}

#show:hover{
	background: rgba(0,0,0,.80);
	transform: translateY(10px);
    box-shadow: 5px 5px 9px 4px rgba(0,0,0,.26);
}

#slider > label{
	color: white
}

#slider > label:hover{
	color: whitesmoke;
}

.notify{
    animation: slideBounce 1s 10s ease forwards;
}

.push{
	transform: translateY(-65px);
	animation: slideDown 1s ease forwards;
}

@keyframes slideBounce{
    0%{opacity: 0}
    70%{transform: translateY(-70px)}
    90%{transform: translateY(-65px)}
    95%{transform: translateY(-68px)}
    100%{transform: translateY(-65px); opacity: 1}
}

@keyframes slideDown{
    0%{transform: translateY(-80px)}
    100%{transform: translateY(-10px);}
}
