body {
    background-color: #DADADA;
    background: #DADADA;
}
body.pushable>.pusher {
    background: #DADADA;
}
body > .grid {
    height: 100%;
}
.column {
    max-width: 450px;
}
.ng-invalid.ng-dirty{
    border-color: red;
}
.ng-valid.ng-dirty{
    border-color: green;
}
.ui.menu .item{
    padding: 10px
}
.ui.tabular.menu .active.item{
	background: ghostwhite;
}
.ui.segment{
	background: ghostwhite;
}
#remark{
    background: whitesmoke;
    box-shadow: 2px 0 2px grey;
    color: teal;
}
