{% load staticfiles %}
<html lang="en" ng-app="naijalogosOffice">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="black">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="target-densitydpi=160">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naijalogos Office</title>

    <link type="image/png" href="{% static 'favicon.ico' %}" rel="shortcut icon">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

</head>
<body>

<div class="ui left sidebar inverted vertical menu" ng-controller="profileCtrl">
    <h3 class="ui inverted centered header" style="margin-top:10px;">
        <i class="dashboard icon"></i>
        Dashboard
    </h3>
    <a class="item" href="#!/imprests" ng-show="user.is_staff">
        <i class="file outline icon left floated"></i>
        Imprests
    </a>

    <a class="item" ng-show="user.is_staff">
        <i class="payment icon"></i>
        V.R.Fs
    </a>

    <a class="item" href="#!billboards">
        <i class="tv icon"></i>
        Billboards
    </a>

    <a href="#!/account" class="item" ng-show="user.is_staff || user.username === 'lydia'">
        <i class="money icon"></i>
        Accounts
    </a>

    <a href="#!/jobs" class="item">
        <i class="briefcase icon"></i>
        Jobs
    </a>
</div>
<div class="pusher">
    <ng-view></ng-view>
</div>

<div class="ui left sidebar inverted vertical menu" ng-controller="profileCtrl">
    <h3 class="ui inverted centered header" style="margin-top:10px;">
        <i class="dashboard icon"></i>
        Dashboard
    </h3>
    <a class="item" href="#!/imprests" ng-show="user.is_staff">
        <i class="file outline icon left floated"></i>
        Imprests
    </a>

    <a class="item" ng-show="user.is_staff">
        <i class="payment icon"></i>
        V.R.Fs
    </a>

    <a class="item" href="#!billboards">
        <i class="tv icon"></i>
        Billboards
    </a>

    <a href="#!/account" class="item" ng-show="user.is_staff || user.username === 'lydia'">
        <i class="money icon"></i>
        Accounts
    </a>

    <a href="#!/jobs" class="item">
        <i class="briefcase icon"></i>
        Jobs
    </a>
</div>
<div class="pusher">
    <ng-view></ng-view>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular-touch.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-pusher/0.0.14/angular-pusher.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>   
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script> 
<script src="{% static 'js/site.js' %}"></script> 
<script src="{% static 'js/localforage.min.js' %}"></script>
<script src="{% static 'js/angular-localForage.js' %}"></script>
<script src="{% static 'js/office.js' %}"></script>
<script src="{% static 'js/office.config.js' %}"></script>
<script src="{% static 'js/login.controller.js' %}"></script>
<script src="{% static 'js/notifications.controller.js' %}"></script>
<script src="{% static 'js/sidebar.directive.js' %}"></script>
<script src="{% static 'js/navbar.directive.js' %}"></script>
<script src="{% static 'js/forms.controller.js' %}"></script>
<script src="{% static 'js/jobs.controller.js' %}"></script>
<script src="{% static 'js/account.controller.js' %}"></script>
<script src="{% static 'js/profile.controller.js' %}"></script>    
<script src="{% static 'js/notify.directive.js' %}"></script>
<script src="{% static 'js/billboard.controller.js' %}"></script>
<script src="{% static 'js/menu.directive.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>
</body>
</html>
