<nav-bar></nav-bar>
<div class="ui masthead center aligned segment" style="background:transparent">
    <div class="ui black fixed extra large circular icon button" id="rotate"
         style="margin-top:35px; position:fixed; left:-7px; z-index:101; font-size:1.7rem; background:transparent; border:none; border-color: transparent">
        <i class="ui black content icon"></i>
    </div>
</div>

<div class="ui container" ng-controller="homeCtrl" id="home">

    <h1 class="ui centered header animated lightSpeedIn" style="margin-top: 100px">
        Welcome <span style="text-transform: capitalize">{{ user.username }}</span>, what are you doing today?
    </h1>
    
    
	<div ng-controller="jobCtrl" ng-show="jobList.length === 1" class="jobs" style="margin-bottom: 10px">
	
		<div class="ui horizontal divider header">
        	<i class="briefcase icon"></i>
        	Recent Jobs
   	 	</div>

    	<div class="ui centered grid">
        	<div class="sixteen wide column">
            	<h5 class="ui top attached inverted header">
                	<i class="tag icon"></i>
                	Current Job
            	</h5>

           		<div class="ui fluid attached raised segment" ng-class="{loading:loading}">
                	<div class="item" ng-repeat="latestJob in jobList | limitTo:1">
                    	<div class="content">
                        	<h3 class="ui teal header">{{ latestJob.client_name }}</h3>
                    	</div>

                    	<div class="right floated meta">
                        	<span class="ui brown label">+234{{ latestJob.client_no | limitTo : 40 : 1}}</span>
                    	</div>

                    	<div class="description" style="margin-top:10px">
                        	<p>{{ latestJob.job_description }}</p>
                    	</div>

                    	<div class="ui teal progress" data-percent="{{ latestJob.percentage }}" id="example1">
                        	<div class="bar" style="width: {{ latestJob.percentage }}%">
                            	<div class="progress"></div>
                        	</div>
                        	<div class="label">{{ latestJob.percentage }}% <span
                                ng-if="latestJob.percentage > 0">Completed</span></div>
                    	</div>
                    	
                    	<div class="extra">
                        	by: <span class="ui label" style="text-transform:capitalize">{{ latestJob.handler }}</span>
                        	<a class="ui right floated teal mini button" tabindex="0" href="#!/jobs">
                            	All Jobs
                            	<i class="right arrow icon"></i>
                        	</a>
                    	</div>
	                </div>
            </div>
        </div>
    </div>

    <div class="ui horizontal divider header">
        <i class="file icon"></i>
        Forms
    </div>
		
	</div>
	
	
        <div class="ui centered cards">
        <div class="card">
            <div class="content">
                <div class="header">Raise Imprest</div>
                <div class="description">
                    Fill the form to raise an imprest. Your form will be sent for approval
                </div>
            </div>
            <button class="ui bottom purple attached button" ng-click="isEditingImprest()" id="imprestBut">
                <i class="arrow up icon"></i>
                Raise Imprest
            </button>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">Vendor Remittance Form</div>
                <div class="description">
                    Submit a vendor remittance form with details about
                    an ongoing request
                </div>
            </div>
            <div class="ui bottom attached button" ng-click="isEditingVendor()" id="vendorBut">
                <i class="pencil icon"></i>
                Vendor Remittance Form
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">Job Tracker</div>
                <div class="description">
                    Input the details of an ongoing job to monitor the progress
                </div>
            </div>
            <div class="ui blue bottom attached button" ng-click="isEditingJob()" id="jobBut">
                <i class="briefcase icon"></i>
                Track Job
            </div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="content">
            <div class="header">Billboard Tracker</div>
            <div class="description">
                Input the details of leased billboards and get notified once the lease expires
            </div>
        </div>
        <div class="ui black bottom attached button" ng-click="isEditingBillboard()" id="billBut">
            <i class="tv icon"></i>
            Lease Billboard
        </div>
    </div>


    <div class="ui centered grid imGrid" ng-show="editingImprest" ng-controller="imprestCtrl" style="margin-top: 15px"
         id="imprests">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui purple header">Raise Imprest</h2>

            <form class="ui form" ng-submit="addImprest() && imForm.$valid" id="imForm" name="imForm"
                  ng-class="{loading:loading}" novalidate>
                <div class="field" ng-class="{error:imForm.description.$invalid && imForm.description.$touched}">
                    <label>Description</label>
                    <textarea placeholder="Description...." ng-model="imprest.description" name="description"
                              required></textarea>
                </div>

                <div class="field" ng-class="{error:imForm.amount.$invalid && imForm.amount.$touched}">

                    <label>Amount</label>
                    <input type="number" placeholder="Amount" ng-model="imprest.amount" name="amount" required>
                </div>

                <button class="ui button right floated" type="submit" ng-disabled="!imForm.$valid" ng-class="{positive:imForm
                .$valid }">Submit
                </button>
                <button class="ui button right floated" type="button" ng-click="cancelEditing()">Cancel</button>

            </form>


        </div>
    </div>


    <div class="ui centered grid imGrid" ng-show="editingVendor" style="margin-top: 15px" ng-controller="vendorCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui purple header">Create A Vendor Remittance Form </h2>

            <form class="ui form" ng-submit="addVendor() && veForm.$valid" name="veForm" novalidate
                  ng-class="{loading:loading}" id="veForm">
                <h4 class="ui dividing header">Vendor Details</h4>
                <div class="field" ng-class="{error:veForm.vendor_name.$touched && veForm.vendor_name.$invalid}">
                    <label>Name</label>
                    <input placeholder="Vendor name" type="text" name="vendor_name" ng-model="vendor.vendorName"
                           required>
                </div>

                <h4 class="ui dividing header">Bank Details</h4>
                <div class="field"
                     ng-class="{error:veForm.account_details.$touched && veForm.account_details.$invalid}">
                    <div class="two fields">
                        <div class="field">
                            <label>Account Number</label>
                            <input type="number" placeholder="Account Number" name="account_details"
                                   ng-model="vendor.accountDetails" required>
                        </div>

                        <div class="field" ng-class="{error:veForm.bank_name.$touched && veForm.bank_name.$invalid}">
                            <label>Bank Name</label>
                            <input type="text" placeholder="Bank Name" name="bank_name" ng-model="vendor.bankName"
                                   required>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Job Details</h4>
                <div class="field"
                     ng-class="{error:veForm.job_description.$touched && veForm.job_description.$invalid}">
                    <label>Job description</label>
                    <textarea placeholder="Description...." name="job_description"
                              ng-model="vendor.jobDescription" required></textarea>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:veForm.quantity.$touched && veForm.quantity.$invalid}">
                            <label>Qty</label>
                            <input type="number" placeholder="Quantity" name="quantity" ng-model="vendor.quantity"
                                   required>
                        </div>

                        <div class="field" ng-class="{error:veForm.currency.$touched && veForm.currency.$invalid}">
                            <label>Currency</label>
                            <select class="ui fluid simple dropdown" name="currency" ng-model="vendor.currency"
                                    required>
                                <option value="">Currency</option>
                                <option value="NGN"><i class="ng flag"></i>NGN</option>
                                <option value="USD"><i class="us flag"></i>USD</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:veForm.amount_due.$touched && veForm.amount_due.$invalid}">
                            <label>Amount Due</label>
                            <input type="number" placeholder="Amount Due.." name="amount_due"
                                   ng-model="vendor.amountDue" required>
                        </div>

                        <div class="field">
                            <label>Delivery Date</label>
                            <input type="text" id="deliver" placeholder="YYYY-MM-DD" name="delivery_date"
                                   ng-model="vendor.deliveryDate" required>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field"
                             ng-class="{error:veForm.current_payment.$touched && veForm.current_payment.$invalid}">
                            <label>Current Payment</label>
                            <input type="tel" placeholder="Amount Paid.." name="current_payment"
                                   ng-model="vendor.currentPayment" required>
                        </div>

                        <div class="field"
                             ng-class="{error:veForm.outstanding_balance.$touched && veForm.outstanding_balance.$invalid}">
                            <label>Outstanding Balance</label>
                            <input type="tel" placeholder="Balance.."
                                   ng-model="vendor.outstandingBalance = vendor.amountDue - vendor.currentPayment"
                                   name="outstanding_balance" required>
                        </div>
                    </div>
                </div>

                <button class="ui button right floated" type="submit" ng-disabled="!veForm.$valid" ng-class="{positive:veForm
                .$valid }">Submit
                </button>
                <button class="ui button right floated" type="button" ng-click="cancelEditing()">Cancel</button>

            </form>


        </div>
    </div>

    <div class="ui centered grid imGrid" ng-show="editingBillboard" style="margin-top: 15px" ng-controller="billboardCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui grey header">Lease A Billboard</h2>

            <form class="ui form" ng-submit="create() && biForm.$valid" id="biForm" name="biForm"
                  ng-class="{loading:loading}" novalidate>
                <h4 class="ui dividing header">Client Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field"
                             ng-class="{error:biForm.client_name.$touched && biForm.client_name.$invalid}">
                            <label>Name</label>
                            <input placeholder="Client name" type="text" name="client_name"
                                   ng-model="billboard.clientName" required>
                        </div>

                        <div class="field" ng-class="{error:biForm.Mobile.$touched && biForm.Mobile.$invalid}">
                            <label>Mobile</label>
                            <input type="tel" name="Mobile" placeholder="0802xxxxxxx" ng-model="billboard.mobile"
                                   required>
                        </div>
                    </div>

                </div>

                <h4 class="ui dividing header">Time Frame</h4>

                <div class="field" ng-class="{error:biForm.date.$touched && biForm.date.$invalid}">
                    <label>Entry Date</label>
                    <input type="text" placeholder="YYYY-MM-DD" ng-model="billboard.entryDate" name="date" required>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:biForm.duration.$touched && biForm.duration.$invalid}">
                            <label>Duration</label>
                            <select ng-model="billboard.duration" name="duration" required>
                                <option value="">Duration</option>
                                <option value="30">1 Month</option>
                                <option value="60">2 Months</option>
                                <option value="90">3 Months</option>
                                <option value="120">4 Months</option>
                                <option value="150">5 Months</option>
                                <option value="180">6 Months</option>
                                <option value="210">7 Months</option>
                                <option value="240">8 Months</option>
                                <option value="270">9 Months</option>
                                <option value="300">10 Months</option>
                                <option value="330">11 Months</option>
                                <option value="360">12 Months</option>
                            </select>
                        </div>

                        <div class="field"
                             ng-class="{error:biForm.expiry_date.$touched && biForm.expiry_date.$invalid}">
                            <label>Expiry Date</label>
                            <input type="text" placeholder="YYYY-MM-DD" name="expiry_date"
                                   ng-model="billboard.expiryDate = addDays(billboard.duration)">
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Location</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:biForm.location.$touched && biForm.location.$invalid}">
                            <label>Location</label>

                            <select ng-model="billboard.location" name="location" required>
                                <option value="">Location</option>
                                <option value="3">Atabong Roundabout</option>
                                <option value="1">Afaha-Uqua(Uqua View)</option>
                                <option value="2">Afaha-Uqua(Marina View)</option>
                            </select>
                        </div>

                        <div class="field" ng-class="{error:biForm.agent.$touched && biForm.agent.$invalid}">
                            <label>Agent</label>
                            <input type="text" ng-model="billboard.agent" placeholder="Installation Agent" name="agent"
                                   required>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:biForm.amount_due.$touched && biForm.amount_due.$invalid}">
                            <label>Amount Due</label>
                            <input type="number" placeholder="Amount Due" name="amount_due"
                                   ng-model="billboard.amountDue" required>
                        </div>

                        <div class="field"
                             ng-class="{error:biForm.amount_paid.$touched && biForm.amount_paid.$invalid}">
                            <label>Amount Paid</label>
                            <input type="number" placeholder="Amount Paid" name="amount_paid"
                                   ng-model="billboard.amountPaid" required>
                        </div>
                    </div>
                </div>

                <div class="field"
                     ng-class="{error:biForm.outstanding_balance.$touched && biForm.outstanding_balance.$invalid}">
                    <label>Outstanding Balance</label>
                    <input type="tel" placeholder="Outstanding Balance" name="outstanding_balance"
                           ng-model="billboard.balance=billboard.amountDue-billboard.amountPaid" required>
                </div>

                <button class="ui button right floated" type="submit" ng-disabled="!biForm.$valid" ng-class="{positive:biForm
                .$valid }">Submit
                </button>
                <button class="ui button right floated" type="button" ng-click="cancelEditing()">Cancel</button>

            </form>
        </div>
    </div>


    <div class="ui centered grid imGrid" ng-show="editingJob" style="margin-top: 15px" ng-controller="jobCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui blue header">Enter Job Details</h2>

            <form class="ui form" ng-submit="create() && jobForm.$valid" ng-class="{loading:loading}" name="jobForm"
                  id="jForm" novalidate>
                <h4 class="ui dividing header">Client Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field"
                             ng-class="{error:jobForm.client_name.$touched && jobForm.client_name.$invalid}">
                            <label>Client Name</label>
                            <input placeholder="Client name" type="text" ng-model="job.clientName" name="client_name"
                                   required>
                        </div>

                        <div class="field" ng-class="{error:jobForm.mobile.$touched && jobForm.mobile.$invalid}">
                            <label>Client Mobile</label>
                            <input type="tel" placeholder="0802xxxxxxx" ng-model="job.clientNo" name="mobile" required>
                        </div>
                    </div>
                </div>

                <div class="field" ng-class="{error:jobForm.contact.$touched && jobForm.contact.$invalid}">
                    <label>Client Contact Person</label>
                    <input type="text" ng-model="job.clientContactPerson" placeholder="Contact Person" name="contact"
                           required>
                </div>

                <h4 class="ui dividing header">Job Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field" ng-class="{error:jobForm.handler.$touched && jobForm.handler.$invalid}">
                            <label>Job Handler</label>
                            <select ng-model="job.handler" name="handler" required>
                                <option value="">Handler</option>
                                <option value="afro">Richard</option>
                                <option value="lydia">Lydia</option>
                                <option value="israel">Israel</option>
                                <option value="andre">Andre</option>
                            </select>

                        </div>

                        <div class="field"
                             ng-class="{error:jobForm.percentage.$touched && jobForm.percentage.$invalid}">
                            <label>Job Percentage</label>
                            <input type="number" ng-model="job.percentage" placeholder="%.." name="percentage" required>
                        </div>
                    </div>
                </div>

                <div class="field" ng-class="{error:jobForm.date.$touched && jobForm.date.$invalid}">
                    <label>Start Date</label>
                    <input type="text" ng-model="job.createdAt" placeholder="YYYY-MM-DD" name="date" required>
                </div>

                <div class="field" ng-class="{error:jobForm.description.$touched && jobForm.description.$invalid}">
                    <label>Job Description</label>
                    <textarea placeholder="Job Description....." ng-model="job.jobDescription" name="description"
                              required></textarea>
                </div>

                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field"
                             ng-class="{error:jobForm.amount_due.$touched && jobForm.amount_due.$invalid}">
                            <label>Amount Due</label>
                            <input type="number" placeholder="Amount Due" ng-model="job.amountDue" name="amount_due"
                                   required>
                        </div>

                        <div class="field"
                             ng-class="{error:jobForm.amount_paid.$touched && jobForm.amount_paid.$invalid}">
                            <label>Amount Paid</label>
                            <input type="number" placeholder="Amount Paid" ng-model="job.amountPaid" name="amount_paid"
                                   required>
                        </div>
                    </div>
                </div>

                <div class="field" ng-class="{error:jobForm.balance.$touched && jobForm.balance.$invalid}">
                    <label>Outstanding Balance</label>
                    <input type="number" placeholder="Outstanding Balance"
                           ng-model="job.balance=job.amountDue-job.amountPaid" name="balance" required>
                </div>

                <button class="ui button right floated" type="submit" ng-disabled="!jobForm.$valid" ng-class="{positive:jobForm
                .$valid }">Submit
                </button>
                <button class="ui button right floated" type="button" ng-click="cancelEditing()">Cancel</button>
            </form>
        </div>
    </div>

    <notify-bar></notify-bar>
</div>

