<nav-bar></nav-bar>

<div class="ui container" ng-controller="homeCtrl" id="home">
    <h1 class="ui centered header" style="margin-top: 200px">
        Welcome <span style="text-transform: capitalize">{{user.username}}</span>, what are you doing today?
    </h1>

    <div class="ui horizontal divider header" ng-controller="jobCtrl" ng-show="jobList.length === 1">
        <i class="briefcase icon"></i>
        Recent Jobs
    </div>

    <div class="ui centered grid" ng-controller="jobCtrl" ng-show="jobList.length === 1">
        <div class="sixteen wide column">
            <h5 class="ui top attached inverted header">
                <i class="tag icon"></i>
                Current Job
            </h5>
        
            <div class="ui fluid attached raised segment" ng-class="{loading:loading}">
                <div class="item" ng-repeat="latestJob in jobList | limitTo:1">
                    <div class="content">
                        <h3 class="ui teal header">{{latestJob.client_name}}</h3>
                    </div>

                    <div class="right floated meta">
                        <span class="ui brown label">+234{{latestJob.client_no | limitTo : 40 : 1}}</span>
                    </div>

                    <div class="description" style="margin-top:10px">
                        <p>{{latestJob.job_description}}</p>
                    </div>

                    <div class="ui teal progress" data-percent="{{latestJob.percentage}}" id="example1">
                        <div class="bar" style="width: {{latestJob.percentage}}%">
                            <div class="progress"></div>
                        </div>
                        <div class="label">{{ latestJob.percentage }}% <span ng-if="latestJob.percentage > 0">Completed</span></div>
                    </div> 
                    <div class="extra">
                        by: <span class="ui label" style="text-transform:capitalize">{{latestJob.handler}}</span>
                        <a class="ui right floated teal mini button" tabindex="0" href="#!/jobs">
                            All Jobs
                                <i class="right arrow icon"></i>
                        </a>
                    </div>


                    
                </div>
            </div>
        </div>
    </div>

    <div class="ui horizontal divider header" ng-controller="jobCtrl" ng-show="jobList.length === 1" >
        <i class="file icon"></i>
        Forms
    </div>
    
    
    <div class="ui centered cards">
        <div class="card">
            <div class="content">
                <div class="header">Raise Imprest</div>
                <div class="description">
                    Fill the form to raise an imprest. Your form will be sent for approval
                </div>
            </div>
            <div class="ui bottom purple attached button" ng-click="isEditingImprest()">
                <i class="arrow up icon"></i>
                Raise Imprest
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">Vendor Remittance Form</div>
                <div class="description">
                    Submit a vendor remittance form with details about
                    an ongoing request
                </div>
            </div>
            <div class="ui bottom attached button" ng-click="isEditingVendor()">
                <i class="pencil icon"></i>
                Vendor Remittance Form
            </div>
        </div>

        <div class="card">
            <div class="content">
                <div class="header">Job Tracker</div>
                <div class="description">
                    Input the details of an ongoing job to monitor the progress
                </div>
            </div>
            <div class="ui blue bottom attached button" ng-click="isEditingJob()">
                <i class="briefcase icon"></i>
                Track Job
            </div>
        </div>
    </div>

    <div class="ui centered card">
        <div class="content">
            <div class="header">Billboard Tracker</div>
            <div class="description">
                Input the details of leased billboards and get notified once the lease expires
            </div>
        </div>
        <div class="ui black bottom attached button" ng-click="isEditingBillboard()">
            <i class="tv icon"></i>
            Lease Billboard
        </div>
    </div>
  

    <div class="ui centered grid" ng-show="editingImprest" ng-controller="imprestCtrl" style="margin-top: 15px">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui purple header">Raise Imprest</h2>

            <form class="ui form" ng-submit="addImprest()" id="imForm" name="imForm" novalidate>
                <div class="field">
                    <label>Description</label>
                    <textarea placeholder="Description...." ng-model="imprest.description" required></textarea>
                </div>

                <div class="field">
                    <label>Amount</label>
                    <input type="tel" placeholder="Amount" ng-model="imprest.amount" required>
                </div>

                <button class="positive ui button right floated" type="submit" ng-click="cancelEditing()">Submit</button>
            </form>


        </div>
    </div>


    <div class="ui centered grid" ng-show="editingVendor" style="margin-top: 15px" ng-controller="vendorCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui purple header">Create A Vendor Remittance Form </h2>

            <form class="ui form" ng-submit="addVendor()" id="veForm" name="veForm">
                <h4 class="ui dividing header">Vendor Details</h4>
                <div class="field">
                    <label>Name</label>
                    <input placeholder="Vendor name" type="text" name="vendor_name" ng-model="vendor.vendorName">
                </div>

                <h4 class="ui dividing header">Bank Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Account Number</label>
                            <input type="tel" placeholder="Account Number" name="account_details" ng-model="vendor.accountDetails">
                        </div>

                        <div class="field">
                            <label>Bank Name</label>
                            <input type="text" placeholder="Bank Name" name="bank_name" ng-model="vendor.bankName">
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Job Details</h4>
                <div class="field">
                    <label>Job description</label>
                    <textarea placeholder="Description...." name="job_description" ng-model="vendor.jobDescription"></textarea>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Qty</label>
                            <input type="tel" placeholder="Quantity" name="quantity" ng-model="vendor.quantity">
                        </div>

                        <div class="field">
                            <label>Currency</label>
                            <select class="ui fluid dropdown" name="currency" ng-model="vendor.currency">
                                <option value="">Currency</option>
                                <option value="NGN"><i class="ng flag"></i>NGN</option>
                                <option value="USD"><i class="us flag"></i>USD</option>
                            </select>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Amount Due</label>
                            <input type="tel" placeholder="Amount Due.." name="amount_due" ng-model="vendor.amountDue">
                        </div>

                        <div class="field">
                            <label>Delivery Date</label>
                            <input type="text" id="deliver" placeholder="YYYY-MM-DD" name="delivery_date" ng-model="vendor.deliveryDate">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Current Payment</label>
                            <input type="tel" placeholder="Amount Paid.." name="current_payment" ng-model="vendor.currentPayment">
                        </div>

                        <div class="field">
                            <label>Outstanding Balance</label>
                            <input type="tel" placeholder="Balance.." ng-model="vendor.outstandingBalance = vendor.amountDue - vendor.currentPayment" name="outstanding_balance" ng-model="vendor.outstandingBalance">
                        </div>
                    </div>
                </div>

                <button class="positive ui button right floated" type="submit" ng-click="cancelEditing()">Submit</button>
            </form>


        </div>
    </div>

    <div class="ui centered grid" ng-show="editingBillboard" style="margin-top: 15px" ng-controller="billboardCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui grey header">Lease A Billboard</h2>

            <form class="ui form" ng-submit="create()" id="biForm" name="biForm">
                <h4 class="ui dividing header">Client Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Name</label>
                            <input placeholder="Client name" type="text" name="client_name" ng-model="billboard.clientName">
                        </div>

                        <div class="field">
                            <label>Mobile</label>
                            <input type="tel" name="Mobile" placeholder="0802xxxxxxx" ng-model="billboard.mobile">
                        </div>
                    </div>
                    
                </div>

                <h4 class="ui dividing header">Time Frame</h4>

                <div class="field">
                    <label>Entry Date</label>
                    <input type="text" placeholder="YYYY-MM-DD" ng-model="billboard.entryDate">
                </div>

                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Duration</label>
                            <select ng-model="billboard.duration">
                                <option value="">Duration</option>
                                <option value="30">1 Month</option>
                                <option value="60">2 Months</option>
                                <option value="90">3 Months</option>
                                <option value="120">4 Months</option>
                                <option value="150">5 Months</option>
                                <option value="180">6 Months</option>
                                <option value="210">7 Months</option>
                                <option value="240">8 Months</option>
                                <option value="270">9 Months</option>
                                <option value="300">10 Months</option>
                                <option value="330">11 Months</option>
                                <option value="360">12 Months</option>
                            </select>
                        </div>

                        <div class="field">
                            <label>Expiry Date</label>
                            <input type="text" placeholder="YYYY-MM-DD" name="expiry_date" ng-model="billboard.expiryDate = addDays(billboard.duration)">
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Location</h4>
                        <div class="field">
                            <div class="two fields">
                                <div class="field">
                                    <label>Location</label>
                                    <select ng-model="billboard.location">
                                        <option value="">Location</option>
                                        <option value="3">Atabong Roundabout</option>
                                        <option value="1">Afaha-Uqua(Uqua View)</option>
                                        <option value="2">Afaha-Uqua(Marina View)</option>
                                    </select>
                                </div>

                                <div class="field">
                                    <label>Agent</label>
                                    <input type="text" ng-model="billboard.agent" placeholder="Installation Agent">
                                </div>
                            </div>
                        </div>
                                    
                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Amount Due</label>
                            <input type="tel" placeholder="Amount Due" name="amount_due" ng-model="billboard.amountDue">
                        </div>

                        <div class="field">
                            <label>Amount Paid</label>
                            <input type="tel" placeholder="Amount Paid" name="amount_paid" ng-model="billboard.amountPaid">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Outstanding Balance</label>
                    <input type="tel" placeholder="Outstanding Balance" name="outstanding_balance" ng-model="billboard.balance=billboard.amountDue-billboard.amountPaid">
                </div>

                
                <button class="positive ui button right floated" type="submit" ng-click="cancelEditing()">Submit</button>
            </form>
        </div>
    </div>

    
    <div class="ui centered grid" ng-show="editingJob" style="margin-top: 15px" ng-controller="jobCtrl">

        <div class="ui four column grid" style="background: #d0d0d0">
            <h2 class="ui blue header">Enter Job Details</h2>

            <form class="ui form" ng-submit="create()" ng-class="{loading:loading}">
                <h4 class="ui dividing header">Client Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Client Name</label>
                            <input placeholder="Client name" type="text" ng-model="job.clientName">
                        </div>

                        <div class="field">
                            <label>Client Mobile</label>
                            <input type="tel" placeholder="0802xxxxxxx" ng-model="job.clientNo">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Client Contact Person</label>
                    <input type="text" ng-model="job.clientContactPerson" placeholder="Contact Person">
                </div>

                <h4 class="ui dividing header">Job Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Job Handler</label>
                            <select ng-model="job.handler">
                                <option value="">Handler</option>
                                <option value="afro">Richard</option>
                                <option value="lydia">Lydia</option>
                                <option value="israel">Israel</option>
                                <option value="andre">Andre</option>
                            </select>
                                
                        </div>

                        <div class="field">
                            <label>Job Percentage</label>
                            <input type="tel" ng-model="job.percentage" placeholder="%..">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Start Date</label>
                    <input type="text" ng-model="job.createdAt" placeholder="YYYY-MM-DD">
                </div>

                <div class="field">
                    <label>Job Description</label>
                    <textarea placeholder="Job Description....." ng-model="job.jobDescription"></textarea>
                </div>
                                    
                <h4 class="ui dividing header">Payment Details</h4>
                <div class="field">
                    <div class="two fields">
                        <div class="field">
                            <label>Amount Due</label>
                            <input type="tel" placeholder="Amount Due" ng-model="job.amountDue">
                        </div>

                        <div class="field">
                            <label>Amount Paid</label>
                            <input type="tel" placeholder="Amount Paid" ng-model="job.amountPaid">
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Outstanding Balance</label>
                    <input type="tel" placeholder="Outstanding Balance" ng-model="job.balance=job.amountDue-job.amountPaid">
                </div>
                
                <button class="positive ui button right floated" type="submit" ng-click="">Submit</button>
            </form>
        </div>
    </div>

    
    <notify-bar></notify-bar>
</div>

