<nav-bar></nav-bar>
<div class="ui inverted center aligned masthead segment">
	<menu-button></menu-button>

	<h2 class="blue ui center aligned icon header" style="margin-top: 80px">
		<i class="circular money icon"
			style="box-shadow: 0 0 0 0.2em grey inset"></i> Imprests
	</h2>
</div>

<div class="ui container" ng-controller="allImprestCtrl" style="margin-top: 20px">
	<div class="ui top attached inverted header" style="color: #2185D0;">
		<i class="file icon"></i> Imprest forms
	</div>

	<div class="ui attached rasied segment">
		<div class="ui stackable grid">
			<div class="eight wide column">
			
				<div class="ui labeled icon right floated dropdown button"
					id="filter">
					<i class="filter icon"></i> <span class="text">Filter
						Imprests</span>
					<div class="menu">
						<div class="divider"></div>
						<div class="item" ng-click="date=true; person=false">
							<i class="blue calendar icon"></i> Filter by date
						</div>
						<div class="item" ng-click="person=true; date=false">
							<i class="green user icon"></i> Filter by user
						</div>

					</div>
				</div>
				
				<div class="ui blue header">
					<i class="add circle icon"></i> Imprest Total
				</div>
				
				<div class="ui divider"></div>
				
				<div class="ui active centered inline medium loader" ng-show="loading"></div>
				
				<div class="ui items" ng-hide=loading>
					<div class="item"
						ng-repeat="month in ['January','February','March','April','May','June','July','August','September','October','November','December']"
						ng-if="total(month.slice(0,3)) > 0" ng-hide="person">
						<div class="ui mini image">
							<img src="/static/images/calendar.png">
						</div>
						<div class="middle aligned content">
							<a href="" class="ui blue header"> {{month}} </a>
							<div class="meta">
								<span class="ui tiny label"> {{total(month.slice(0,3)) |
									currency: '₦'}}</span>
							</div>
						</div>
					</div>

					<div class="item"
						ng-repeat="user in ['afro','israel','lydia','paul','andre']"
						ng-show="person">
						<div class="ui mini circular image">
							<img src="/static/images/avatar.png">
						</div>
						<div class="middle aligned content">
							<a href="" class="ui blue header"
								style="text-transform: capitalize;">{{user}}</a>

							<div class="meta">
								<span class="ui small label">{{totalUser(user) |
									currency: '₦'}}</span>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="two wide column">
				<h5 class="ui vertical blue divider header">Search</h5>
			</div>

			<div class="eight wide column">
				<div class="ui labeled icon medium dropdown button" id="search" style="text-align:center;">
					<i class="filter icon"></i> <span class="text">Filter Imprest Forms</span>
					<div class="menu">
																
						<div class="header">
							<i class="tags icon"></i>
							Filter by user
						</div>
						
						<div class="item" ng-repeat="user in ['afro','israel','lydia','paul','andre']"  ng-click=change(user)>
							<i class="user icon"></i>
							<span style="text-transform: capitalize;">{{user}}</span>
						</div>
						
						<div class="header">Search Imprests</div>
						<div class="ui left icon input">
							<i class="search icon"></i> <input name="search"
								placeholder="Search..." type="text" ng-model="search">
						</div>	
						
					</div>
				</div>
				
				<div class="ui divider"></div>
				
				<div class="ui centered inline active medium loader" ng-show="loading"></div>
				
				<h5 class="ui header" ng-if="filtered.length === 0">
					<i class="red attention icon"></i>
					Nothing matches your search
				</h5>
				
				<div class="ui feed" ng-hide="loading">
					<div class="event" ng-repeat="imprest in imprests | filter: search | limitTo:limit as filtered">
						<div class="label">
							<i class="tag icon"></i>
						</div>
						
						<div class="content">
							<div class="summary">
								<a class="user" style="text-transform: capitalize;">
									{{imprest.description | limitTo:15}}<span ng-if="imprest.description.length > 15">...</span>
								</a>
								
								<div class="date">
									{{imprest.created_at | date}}
								</div>		
								
								<div class="ui horizontal list">
                                    <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                                        ng-click="show=!show" ng-hide="show"> - view</a>
                                    <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                                        ng-click="show=!show" ng-show="show"> - close </a>
                                </div>
							</div>
							
							<div classs="description" ng-show="show">
								<span style="text-transform: capitalize;">{{imprest.description}}</span><br>
								<span class="ui grey label">{{imprest.amount | currency: '₦'}}</span>
							</div>
							
							<div class="meta">
                                <a class="like" ng-if="imprest.is_approved">
                                    <i class="ui green checkmark icon"></i>
                                    Approved
                                </a>
                                <a class="like"ng-if="!imprest.is_approved">
                                    <i class="ui red attention icon"></i>
                                    Pending
                                </a>
                            </div>
						</div>
					</div>
					
					<div class="ui divider"></div>
					
					<a class="ui link" href="" ng-click="addMore()" ng-hide="search.length || imprests.length < limit">
						<h6 class="ui header"  style="padding-bottom: 20px">
							<i class="plus icon"></i>
							Add more
						</h6>
					</a>
					
					<a class="ui link" href="" ng-click="addMore()" ng-show="search.length && filtered.length >= limit">
						<h6 class="ui header"  style="padding-bottom: 20px">
							<i class="plus icon"></i>
							Add more
						</h6>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Bottom Notification Bar-->
<notify-bar></notify-bar>
