<nav-bar></nav-bar>
<div class="ui inverted center aligned masthead segment">
    <h2 class="blue ui center aligned icon header" style="margin-top: 80px">
        <i class="circular money icon" style="box-shadow:0 0 0 0.2em grey inset"></i>
        Imprests
    </h2>
</div>

<div class="ui container" ng-controller="allImprestCtrl">

    <div class="ui inverted segment">
        <div class="ui small inverted breadcrumb">
            <a class="section" href="#!/home">Home</a>
            <i class="yellow right chevron icon divider"></i>
            <a class="section" href="#!/profile">Profile</a>
            <i class="yellow right chevron icon divider"></i>
            <div class="active section">Imprests</div>
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui top attached segment"><br>
        <div class="description">
            Imprests can be filtered by date and by user. Click on the accordion to trigger, then click again to reveal
            hidden content.
        </div>
        <div class="black ui top attached label">
            <i class="file text icon"></i>
            How To
        </div>
    </div>

    <div class="ui divider"></div>

    <div class="ui stackable grid" style="margin-top: 10px;">

        <div class="four wide fluid column">
            <div class="ui left vertical menu">
                <div class="item">
                    <h4 class="grey ui centered header">
                        <i class="filter icon"></i>
                        <div class="content">
                            Filter By
                        </div>
                    </h4>
                </div>

                <a class="ui item" ng-class="{active:isSelected(1), blue:isSelected(1)}" ng-click="selectTab(1)">
                    <div class="ui label" ng-class="{blue:isSelected(1), left:isSelected(1), pointing:isSelected(1)}">
                        0
                    </div>
                    Date
                </a>
                <a class="item" ng-class="{active:isSelected(2), purple:isSelected(2)}" ng-click="selectTab(2)">
                    <div class="ui label" ng-class="{purple:isSelected(2), left:isSelected(2), pointing:isSelected(2)}">
                        0
                    </div>
                    User
                </a>
            </div>

        </div>

        <div class="sixteen wide column" ng-show="isSelected(1)">

            <div class="ui blue header">
                <i class="calendar icon"></i>
                <div class="content">
                    Imprest by Date
                </div>

            </div>

            <div class="ui divider"></div>
            <div class="ui styled fluid accordion">
                <div class="blue ui active title">
                    <i class="dropdown icon"></i>
                    January
                </div>
                <div class="active content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>₦</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Jan'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Jan') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    February
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Feb'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Feb') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    March
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Mar'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Mar') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    April
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Apr'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Apr') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    May
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'May'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('May') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    June
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Jun'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Jun') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    July
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Jul'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Jul') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    August
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Aug'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Aug') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    September
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Sep'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Sep') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    October
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Oct'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Oct') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    November
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Nov'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>
                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Nov') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    December
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | time:'Dec'">
                            <td style="text-transform: capitalize;" class="blue ui label">{{imprest.user.username}}</td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui black label">Total: <span>{{total('Dec') | currency: '₦'}}</span></div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>

        <div class="sixteen wide column" ng-show="isSelected(2)">
            <div class="ui purple header">
                <i class="users icon"></i>
                Filter by Users
            </div>

            <div class="ui divider"></div>

            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Israel
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | filter: 'israel'">
                            <td style="text-transform: capitalize;" class="purple ui label">{{imprest.user.username}}
                            </td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui green label">Total: <span> {{totalUser('israel')| currency: '₦'}}</span>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Richard
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | filter: 'afro'">
                            <td style="text-transform: capitalize;" class="purple ui label">{{imprest.user.username}}
                            </td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui green label">Total: <span> {{totalUser('afro')| currency: '₦'}}</span>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Paul
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | filter: 'paul'">
                            <td style="text-transform: capitalize;" class="purple ui label">{{imprest.user.username}}
                            </td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui green label">Total: <span> {{totalUser('paul')| currency: '₦'}}</span>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Lydia
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | filter: 'lydia'">
                            <td style="text-transform: capitalize;" class="purple ui label">{{imprest.user.username}}
                            </td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui green label">Total: <span> {{totalUser('lydia')| currency: '₦'}}</span>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="title">
                    <i class="dropdown icon"></i>
                    Andre
                </div>
                <div class="content">
                    <table class="ui unstackable table">
                        <thead>
                        <tr>
                            <th>By</th>
                            <th>Purpose</th>
                            <th>#</th>
                            <th class="right aligned">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="imprest in imprests | filter: 'andre'">
                            <td style="text-transform: capitalize;" class="purple ui label">{{imprest.user.username}}
                            </td>
                            <td>{{imprest.description}}</td>
                            <td>{{imprest.amount}}</td>
                            <td class="right aligned positive" ng-if="imprest.is_approved"><i
                                    class="checkmark icon"></i> Approved
                            </td>
                            <td class="right aligned negative" ng-if="!imprest.is_approved"><i
                                    class="attention icon"></i> Pending
                            </td>
                        </tr>
                        </tbody>

                        <tfoot class="full-width">
                        <tr>
                            <th colspan="4" class="right aligned">
                                <div class="ui green label">Total: <span> {{totalUser('andre')| currency: '₦'}}</span>
                                </div>
                            </th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
