<nav-bar></nav-bar>
<div class="container">
    <h2 class="ui purple centered header" style="margin-top: 100px">Notifications</h2>
    <div class="ui grid">
        <div class="two wide column"></div>

        <div class="sixteen wide column" ng-controller="getImprestCtrl">
            <div class="ui segment" ng-show="user.is_superuser">
                <h3 class="ui purple centered header">Recent Imprest Forms</h3>
                <div class="ui divided items" >
                    <div class="item" ng-hide="imprests > 0">
                        <h2 class="ui grey centered header" ><em>Nothing here yet</em></h2>
                    </div>    
                    <div class="item" ng-repeat="imprest in data | orderBy: imprest.created_at: true" ng-if="!imprest.is_approved">
                        <div class="content">
                            <a class="header">
                                Imprest
                            </a>

                            <div class="meta">
                                Amount: {{ imprest.amount }}
                                <p class="right floated ui label">{{imprest.created_at | amCalendar}}</p>
                            </div>
                            <div class="description">
                                {{ imprest.description }}
                            </div>
                            <div class="extra">
                                <p class="ui black label">raised by <span style="text-transform: capitalize">{{imprest.raised_by.username}}</span></p>
                                <button class="circular ui right floated green icon button" ng-click="accept(imprest)">
                                    <i class="check icon"></i>
                                </button>
                                <button class="circular ui right floated red icon button">
                                    <i class="close icon"></i>
                                </button>

                                <button class="circular ui right floated icon button" ng-click="isEditing=true">
                                    <i class="pencil icon"></i>
                                </button>
                            </div>

                        <div class="extra">
                            <form class="ui form" ng-submit="" id="editIm" novalidate ng-show="isEditing" ng-model-options="modelOptions">
                                <div class="ui blue header">Edit Imprest</div>
                                <div class="field">
                                    <label>Description</label>
                                    <textarea placeholder="Description...." ng-model="imprest.description" ng-change="update(imprest)" required></textarea>
                                </div>

                                <div class="field">
                                    <label>Amount</label>
                                    <input type="tel" placeholder="Amount" ng-model="imprest.amount" ng-change="update(imprest)" required>
                                </div>

                                <button class="positive ui button right floated" type="submit" ng-click="isEditing=false">Save</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="one wide column"></div>
        <div class="sixteen wide column" ng-controller="getVendorCtrl">

            <div class="ui segment" ng-show="user.is_superuser">
                <h3 class="ui red centered header">Vendor Remittance Forms</h3>

                <div class="ui divided items">
                    
                    <div class="item" ng-hide="vend > 0">
                        <h3 class="ui grey centered header" ><em>Nothing new here</em></h3>
                    </div>    
                    
                    <div class="item" ng-repeat="vendor in vendors | orderBy: vendor.created_at: true" ng-if="!vendor.is_approved">
                        <div class="content">
                            <a class="header">{{vendor.vendor_name}}</a>

                            <div class="right floated meta">
                                <span class="right floated date">{{vendor.delivery_date | date}}</span><br>
                                <span class="right floated category">{{vendor.amount_due}} - {{vendor.current_payment}}</span><br>
                                <span class="right floated category"> = {{vendor.outstanding_balance}}</span>
                            </div>

                            <div class="meta">
                                <span class="category">Acc.no:  {{vendor.account_details}}</span><br>
                                <span class="category">{{vendor.bank_name}}</span>
                            </div>


                            <div class="description">
                                <p>{{vendor.job_description}}</p>
                            </div>

                            <div class="extra">
                                <div class="ui violet label">Prepared by <span style="text-transform: capitalize">{{vendor.prepared_by.username}}</span></div>
                                <div class="right floated ui blue label">{{vendor.quantity}} Units</div>
                            </div>

                            <div class="extra">
                                <div class="circular ui green basic icon button right floated" ng-click="approve(vendor)">
                                    <i class="check icon"></i>
                                </div>
                                <div class="circular ui red basic icon button right floated">
                                    <i class="close icon"></i>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<notify-bar></notify-bar>