<nav-bar></nav-bar>

<div class="ui container" ng-controller='notificationCtrl'>
    <h2 class="ui brown centered header" style="margin-top: 100px"><i class="world icon"></i>Notifications</h2>

    <div class="ui top attached tabular menu">
        <a class="item" ng-click="selectTab(1)" ng-class="{active:isSelected(1), red:isSelected(1) && latest.length > 0}">
            Unread
            <span class="ui label" ng-class="{red:latest.length > 0 && isSelected(1)}">{{latest.length}}</span>
        </a>
        <a class="item" ng-click="selectTab(2)" ng-class="{active:isSelected(2), blue:isSelected(2)}">
            All 
            <span class="ui label" style="padding-right:2px" ng-class="{blue:isSelected(2)}">
                <i class="world icon"></i>
            </span>        
        </a>
    </div>

    <div class="ui bottom attached stacked padded segment" ng-show="isSelected(1)"  ng-class="{loading:loading}" style="min-height:100px">

        <!---No new messages display-->
        
        <h2 class="ui center aligned icon header" ng-if="latest.length < 1">
            <i class="circular thumbs up icon"></i>
            No unread notifications 
        </h2>

        <!---Feed-->
        <div class="ui centered feed">

            <!--Event-->
            <div class="event" ng-repeat="feed in latest">
                <div class="label">
                    <img src="/static/images/nl.png">
                </div>

                <!--Content-->
                <div class="content">

                    <!--Summary-->
                    <div class="summary" style="font-weight:400">

                        <!--Message-->
                        <a class="user" style="font-weight:600" ng-if="feed.tags.actor.toLowerCase() !== user.username">
                            {{feed.tags.actor}}
                        </a>
                        <a class="user" style="text-transform:capitalize; font-weight:600" ng-if="feed.tags.actor.toLowerCase() === user.username">
                            You
                        </a>
                          {{feed.message | limitTo : 100}} - <a class="user">
                              {{feed.tags.target}}
                          </a>

                        <!--Imprest View Link-->
                        <div class="ui horizontal list" ng-show="feed.url.indexOf('m') !== -1">
                            <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                           ng-click=" show=!show; view(feed);" ng-hide="show && details.id === feed.id"> - view</a>
                        <a class="link" href="" style="font-size:0.8rem; font-weight:400" ng-click="show=!show"
                           ng-show="show && details.id === feed.id "> - close </a>
                        </div>
                        
                        <!---End Imprest View Link-->   

                        <!---Vendor View Link-->
                        <div class="ui horizontal list" ng-show="feed.url.indexOf('v') !== -1">
                            <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                           ng-click=" show=!show; view(feed);" ng-hide="show && vendor.id === feed.id"> - view</a>   

                            <a class="link" href="" style="font-size:0.8rem; font-weight:400" ng-click="show=!show"
                           ng-show="show && vendor.id === feed.id "> - close </a>
                        </div>
                        <!---End Vendor View Link-->

                        <!---Job View Link-->
                        <div class="ui horizontal list" ng-show="feed.url.indexOf('j') !== -1">
                            <a class="link" href="#!/jobs" style="font-size:0.8rem; font-weight:400"> - view</a>   
                        </div>
                        <!---End View Link-->

                           
                        <!--Message Date-->
                        <div class="date">
                            <span am-time-ago="feed.date"></span> 
                        </div>


                    </div>

                    <!--Extra Content-->
                    <div class="extra content" ng-show="show">

                        <!--Loader-->
                        <div class="ui mini centered inline loader" ng-class="{active:feed.conLoading}"></div>
                        <!---EndLoader-->

                        <!--Imprest Description-->
                        <div class="description" ng-if="details && !conLoading && details.id === feed.id ">

                            <span>{{details.data.description}}</span><br>
                            <div class="meta">
                                <span class="ui label">{{details.data.amount | currency:'₦'}}</span>
                            </div>
                            <br>


                            <!---Edit Link-->
                            <div class="meta" ng-show="user.is_staff">
                                <a class="link" style="font-size:0.8rem; font-weight:400"
                                   ng-click="editing=!editing">Edit</a>
                            </div>

                            <!--Edit Form-->
                            <form class="ui tiny form" ng-show="editing" ng-model-options="modelOptions" ng-class="{loading:loadingForm}">
                                <div class="field">
                                    <label>Description</label>
                                    <input ng-change="update(details)" ng-model="details.data.description" required>
                                </div>
                                <div class="field">
                                    <label>Amount</label>
                                    <input ng-change="update(details)" ng-model="details.data.amount" required>
                                </div>
                                <div class="ui right floated mini button" ng-click="editing=false">Save</div>
                            </form>

                        </div>

                        <div class="description" ng-if="vendor && !conLoading && vendor.id === feed.id">
                            <!--Divider-->
                            <h6 class="ui horizontal divider header">
                                <i class="money icon"></i>
                                Payment Details
                            </h6>

                            <!--Pay Details-->
                                <!--Amount Due-->
                                <span class="ui label">
                                {{vendor.data.amount_due | currency: '₦'}}
                                </span>
                                 -  
                                 <!--Amount Paid-->
                                 <span class="ui label">
                                     {{vendor.data.current_payment | currency : '₦'}}
                                 </span>
                                = 
                                <!--Outstanding Balance-->
                                <span class="ui label">
                                {{vendor.data.outstanding_balance | currency : '₦'}}
                                </span>
                            <!--End Pay Details-->
                            
                            <!--Divider-->    
                            <h6 class="ui horizontal divider header">
                                <i class="Payment icon"></i>
                                Vendor Details
                            </h6>

                            <!--Job Description-->
                            <div class="description">
                                <!--Acc No-->
                                Acc.no: {{vendor.data.account_details}}<br>

                                <!---Bank Name-->
                                <span class="ui label">
                                    <i class="building icon"></i>
                                    {{vendor.data.bank_name}}
                                </span>

                                <!---Divider-->
                                <h6 class="ui horizontal divider header">
                                    <i class="tag icon"></i>
                                    Job Description
                                </h6>

                                <!--Vend Des-->
                                <span style="text-transform:capitalize">{{vendor.data.job_description}}</span><br>

                                <!---Quantity-->
                                <span class="ui label">
                                    <i class="shop icon"></i>
                                    {{vendor.data.quantity}} 
                                    unit<span ng-if="vendor.data.quantity > 1">s</span>
                                </span><br>

                                <!---Delivery-->
                                <span class="ui label" style="margin-top:2px">
                                    <i class="calendar icon"></i>
                                    {{vendor.data.delivery_date}}
                                </span>
                            </div>
                            
                            <!---Edit Link-->
                            <div class="meta" ng-show="user.is_staff">
                                <a class="link" style="font-size:0.8rem; font-weight:400"
                                   ng-click="editingVen=!editingVen">Edit</a>
                            </div>

                            <!--Edit Form-->
                            <form class="ui tiny form" ng-show="editingVen" ng-class="{loading:loadingForm}" ng-model-options="modelOptions">
                                <h5 class="ui dividing header">Vendor Details</h5>

                                <div class="field">
                                    <label>Name</label>
                                    <input type="text" ng-model="vendor.data.vendor_name" ng-change="update(vendor)">
                                </div>

                                <h5 class="ui dividing header">Bank Details</h5>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Account Number</label>
                                                <input type="tel" ng-model="vendor.data.account_details" ng-change="update(vendor)">
                                            </div>

                                            <div class="field">
                                                <label>Bank Name</label>
                                                <input type="text" ng-model="vendor.data.bank_name" ng-change="update(vendor)">
                                            </div>
                                        </div>
                                    </div>

                                <h5 class="ui dividing header">Job Details</h5>

                                    <div class="field">
                                        <label>Job description</label>
                                        <textarea ng-model="vendor.data.job_description" ng-change="update(vendor)"></textarea>
                                    </div>

                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Qty</label>
                                                <input type="tel" ng-model="vendor.data.quantity" ng-change="update(vendor)">
                                            </div>
                                        </div>
                                    </div>

                                <h5 class="ui dividing header">Payment Details</h5>
                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Amount Due</label>
                                                <input type="tel" ng-model="vendor.data.amount_due" ng-change="update(vendor)">
                                            </div>

                                            <div class="field">
                                                <label>Delivery Date</label>
                                                <input type="text" ng-model="vendor.data.delivery_date" ng-change="update(vendor)">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field">
                                        <div class="two fields">
                                            <div class="field">
                                                <label>Current Payment</label>
                                                <input type="tel" ng-model="vendor.data.current_payment" ng-change="update(vendor)">
                                            </div>

                                            <div class="field">
                                                <label>Outstanding Balance</label>
                                                <input type="tel" ng-model="vendor.data.outstanding_balance = vendor.data.amount_due - vendor.data.current_payment" ng-change="update(vendor)">
                                            </div>
                                        </div>
                                    </div>

                                    <button class="ui right floated mini button" ng-click="editingVen=!editingVen">Save</button>
                            </form>
                        </div>

                    </div>

                    <!--Extra content-->
                    <div class="extra content" ng-if="user.is_staff && feed.url.indexOf('v') === -1 && feed.tags.action !== 'started' && feed.tags.action !== 'accepted'">

                        <!---Accept Button-->
                        <button class="ui green basic mini circular icon button"
                                ng-class="{loading:feed.loading}" ng-click="acceptImprest(details,feed, $index)">
                            <i class="checkmark icon"></i>
                        </button>

                        <!--Reject button-->
                        <button class="ui red basic mini circular icon button">
                            <i class="close icon"></i>
                        </button>

                    </div>

                    <div class="extra content" ng-if="user.is_staff && feed.url.indexOf('v') !== -1 && feed.tags.action !== 'started' && feed.tags.action !== 'accepted'">

                        <!---Accept Button-->
                        <button class="ui green basic mini circular icon button"
                                ng-class="{loading:feed.loading}" ng-click="acceptVendor(vendor,feed, $index)">
                            <i class="checkmark icon"></i>
                        </button>

                        <!--Reject button-->
                        <button class="ui red basic mini circular icon button">
                            <i class="close icon"></i>
                        </button>

                    </div>

                    <!---Action Icons-->
                    <div class="extra content" ng-if="feed.tags.action === 'accepted'">
                        <i class="ui green checkmark icon"></i>
                    </div>

                    <div class="extra content" ng-if="!user.is_staff && feed.tags.action === 'created'">
                        <i class="text file icon"></i>
                    </div>

                    <div class="extra content" ng-if="feed.tags.action === 'edited'">
                        <i class="pencil icon"></i>
                    </div>

                    <div class="extra content" ng-if="feed.tags.action === 'started'">
                        <i class="briefcase icon"></i>
                    </div>
                    <!--End Action Icons-->

                </div>

            </div>
        </div>
    </div>

    <div class="ui bottom attached stacked padded segment" ng-show="isSelected(2)" style="min-height:100px">

        <!---No messages-->
        <div class="item" ng-hide="messages.length">
            <img src="/static/images/file.png" class="ui medium centered image">
            <h2 class="ui grey centered header">
                No messages! 
                <div class="sub header">
                    Go raise an imprest of something
                </div> 
            </h2>
        </div>
        

        <!---Feed-->
        <div class="ui centered feed">

            <!--Event-->
            <div class="event" ng-repeat="message in messages | orderBy: message.message.date:true">
                <div class="label">
                    <img src="/static/images/nl.png">
                </div>

                <!--Content-->
                <div class="content">

                    <!--Summary-->
                    <div class="summary" style="font-weight:400">
                        <a class="user" style="text-transform:capitalize; font-weight:600" ng-if="message.message.tags.actor.toLowerCase() !== user.username">
                            {{message.message.tags.actor}}
                        </a>
                        <a class="user" style="text-transform:capitalize; font-weight:600" ng-if="message.message.tags.actor.toLowerCase() === user.username">
                            You
                        </a>
                        <!--Message-->
                        {{message.message.message}}

                        <a class="user">
                            {{message.message.tags.target}}
                        </a>

                        <!--Imprest View Link-->
                        <div class="ui horizontal list" ng-show="message.message.url.indexOf('m') !== -1">
                            <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                           ng-click=" show=!show; view(message.message);" ng-hide="show && details.id === message.message.id"> - view</a>
                        
                            <a class="link" href="" style="font-size:0.8rem; font-weight:400" ng-click="show=!show"
                           ng-show="show && details.id === message.message.id "> - close </a>
                        </div>
                        
                        <!---End Imprest View Link-->   

                        <!---Vendor View Link-->
                        <div class="ui horizontal list" ng-show="message.message.url.indexOf('v') !== -1">
                            <a class="link" href="" style="font-size:0.8rem; font-weight:400"
                           ng-click=" show=!show; view(message.message);" ng-hide="show && vendor.id === message.message.id"> - view</a>   

                            <a class="link" href="" style="font-size:0.8rem; font-weight:400" ng-click="show=!show"
                           ng-show="show && vendor.id === message.message.id"> - close </a>
                        </div>
                        <!---End Vendor View Link--> 

                        <!---Job View Link-->
                        <div class="ui horizontal list" ng-show="message.message.url.indexOf('j') !== -1">
                            <a class="link" href="#!/jobs" style="font-size:0.8rem; font-weight:400"> - view</a>   
                        </div>
                        <!---End View Link-->


                        <!--Message Date-->
                        <div class="date">
                            <time am-time-ago="message.message.date"></time>
                        </div>
                    </div>

                    <!--Extra Content-->
                    <div class="extra content" ng-show="show">

                        <!--Loader-->
                        <div class="ui mini centered inline loader" ng-class="{active:message.message.conLoading}"></div>
                        <!---EndLoader-->

                        <!--Description-->
                        <div class="description" ng-if="!loading && details.id === message.message.id">
                            {{details.data.description}}<br>
                            <div class="meta">
                                <span class="ui label">{{details.data.amount | currency:'₦'}}</span>
                            </div>
                            <br>

                            <div class="extra content" ng-if="user.is_staff && feed.url.indexOf('v') === -1 && !details.data.is_approved">

                                <!---Accept Button-->
                                <button class="ui green basic mini circular icon button"
                                    ng-class="{loading:feed.loading}" ng-click="acceptImprest(details,message.message, $index)">
                                    <i class="checkmark icon"></i>
                                </button>

                                <!--Reject button-->
                                <button class="ui red basic mini circular icon button">
                                    <i class="close icon"></i>
                                </button>

                            </div>
                        </div>

                        <div class="description" ng-if="!loading && vendor.id === message.message.id">
                            <!--Divider-->
                            <h6 class="ui horizontal divider header">
                                <i class="money icon"></i>
                                Payment Details
                            </h6>

                            <!--Pay Details-->
                                <!--Amount Due-->
                                <span class="ui label">
                                {{vendor.data.amount_due | currency: '₦'}}
                                </span>
                                 -  
                                 <!--Amount Paid-->
                                 <span class="ui label">
                                     {{vendor.data.current_payment | currency : '₦'}}
                                 </span>
                                = 
                                <!--Outstanding Balance-->
                                <span class="ui label">
                                {{vendor.data.outstanding_balance | currency : '₦'}}
                                </span>
                            <!--End Pay Details-->
                            
                            <!--Divider-->    
                            <h6 class="ui horizontal divider header">
                                <i class="Payment icon"></i>
                                Vendor Details
                            </h6>

                            <!--Job Description-->
                            <div class="description">
                                <!--Acc No-->
                                Acc.no: {{vendor.data.account_details}}<br>

                                <!---Bank Name-->
                                <span class="ui label">
                                    <i class="building icon"></i>
                                    {{vendor.data.bank_name}}
                                </span>

                                <!---Divider-->
                                <h6 class="ui horizontal divider header">
                                    <i class="tag icon"></i>
                                    Job Description
                                </h6>

                                <!--Vend Des-->
                                <span style="text-transform:capitalize">{{vendor.data.job_description}}</span><br>

                                <!---Quantity-->
                                <span class="ui label">
                                    <i class="shop icon"></i>
                                    {{vendor.data.quantity}} 
                                    unit<span ng-if="vendor.data.quantity > 1">s</span>
                                </span><br>

                                <!---Delivery-->
                                <span class="ui label" style="margin-top:2px">
                                    <i class="send icon"></i>
                                    {{vendor.data.delivery_date}}
                                </span>
                            </div>

                            <div class="extra content" ng-if="user.is_staff && feed.url.indexOf('v') !== -1 && !vendor.data.is_approved">

                                 <!---Accept Button-->
                                <button class="ui green basic mini circular icon button"
                                    ng-class="{loading:feed.loading}" ng-click="acceptVendor(vendor,message.message, $index)">
                                    <i class="checkmark icon"></i>
                                </button>

                                <!--Reject button-->
                                <button class="ui red basic mini circular icon button">
                                    <i class="close icon"></i>
                                </button>

                            </div>
                        </div>

                    </div>

                    <!---Action Icons-->
                    <div class="extra content" ng-if="message.message.tags.action === 'accepted'">
                        <i class="ui green checkmark icon"></i>{{accepted}}
                    </div>

                    <div class="extra content" ng-if="message.message.tags.action === 'created'">
                        <i class="text file icon"></i>
                    </div>

                    <div class="extra content" ng-if="message.message.tags.action === 'edited'">
                        <i class="pencil icon"></i>
                    </div>

                    <div class="extra content" ng-if="message.message.tags.action === 'started'">
                        <i class="briefcase icon"></i>
                    </div>
                    <!--End Action Icons-->

                    </div>

                    

                </div>

            </div>
        </div>
    </div>
</div>

<!--Bottom Notification Bar-->
<notify-bar></notify-bar>
