<side-bar></side-bar>

<div class="pusher">
    <nav-bar></nav-bar>

    <div class="ui inverted masthead center aligned segment">
        <div class="ui black launch right attached fixed button" id="rotate" style="margin-top:35px; position:fixed; left:0;">
            <i class="content icon"></i>
        </div>

        <div class="ui text container" style="margin-top:60px">
            <h3>
                <img ng-src="/static/images/nl.png" class="ui centered circular image" width="60px" height="60px" style="padding-bottom:0">
                <span style="text-transform:capitalize;">Hello,  {{user.username}}</span>
            </h3>
        </div>
    </div>
    <div class="ui container" ng-controller="profileCtrl">
        <div class="item" ng-hide="isEditing">
            <div class="tiny ui right floated black button" style="margin-top:7px" ng-click="editing()">
                <i class="settings icon"></i>
                Edit profile
            </div>

            <div class="tiny ui right floated grey button" style="margin-top:7px" ng-click="account()" ng-show="user.username === 'lydia' || user.username === 'israel'">
                <i class="payment icon"></i>
                Top Up 
            </div>
        </div>

        <div ng-hide="isEditing">
            <h3 class="ui blue header">Your Forms</h3>

            <div class="ui clearing divider"></div>

            <div class="ui top attached tabular menu">
                <div class="item" ng-class="{active: isSelected(1)}">
                    <a href ng-click="selectTab(1)">Imprests</a>
                </div>

                <div class="item" ng-class="{active: isSelected(2)}">
                    <a href ng-click="selectTab(2)">Vendor Forms</a>
                </div>
            </div>

            <div class="ui bottom attached segment" ng-show="isSelected(1)" ng-class="{loading:loading}" style="min-height:100px">
                <div class="ui center aligned grid" ng-if="!imprests.length">
                    <div class="column">
                        <h2 class="ui grey center aligned icon header">
                            <i class="circular attention icon"></i>
                            Raise an imprest <a href="#!/home">Here</a>
                        </h2>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="sixteen wide column"  ng-repeat="imprest in imprests | orderBy: imprest.created_at: true | filter: user.username |limitTo: 10 ">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <a class="header">
                                        Imprest
                                    </a>

                                    <p class="right floated ui black label">{{imprest.created_at | amCalendar}}</p>
                                    <div class="meta">
                                        Amount: <span class="ui label">{{ imprest.amount | currency:'₦'}}</span>
                                    </div>
                                    <div class="description">
                                        {{ imprest.description }}
                                    </div>

                                    <div class="extra">
                                        <div class="item right floated">
                                            Status: <span class="ui green" ng-if="imprest.is_approved" style="color:green">Approved</span>
                                            <span class="ui red" ng-if="!imprest.is_approved" style="color:red">Pending</span>
                                        </div>
                                    </div>
                                    <div class="ui divider"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item" ng-if="imprests >= 10">
                    <a class="right floated link">
                        View All
                    </a>
                </div>
            </div>

            <div class="ui bottom attached segment" ng-show="isSelected(2)" ng-class="{loading:loading}" style="min-height:100px">
                <div class="ui center aligned grid" ng-if="!vendors.length">
                    <div class="column">
                        <h2 class="ui grey center aligned icon header">
                            <i class="circular down arrow icon"></i>
                            Create a form <a href="#!/home">Here</a>
                        </h2>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="sixteen wide column"  ng-repeat="vendor in vendors | orderBy: vendor.created_at: true | filter: user.username |limitTo: 10 ">
                        <div class="ui divided items">
                            <div class="item">
                                <div class="content">
                                    <a class="header">{{vendor.vendor_name}}</a>
                                    <div class="right floated meta">
                                        <span class="right floated date">{{vendor.delivery_date | date}}</span><br>
                                        <span class="right floated category"><span class="ui label">{{vendor.amount_due | currency:'₦'}}</span> - <span class="ui label">{{vendor.current_payment | currency:'₦'}}</span></span><br>
                                        <span class="right floated category"> = <span class="ui red label">{{vendor.outstanding_balance | currency:'₦'}}</span></span>
                                    </div>

                                    <div class="meta">
                                        <span class="category">Acc.no:  {{vendor.account_details}}</span><br>
                                        <span class="category">{{vendor.bank_name}}</span>
                                    </div>


                                    <div class="description">
                                        <p>{{vendor.job_description}}</p>
                                    </div>

                                    <div class="extra">
                                        <div class="right floated ui blue label">{{vendor.quantity}} Units</div>
                                    </div>

                                    <div class="extra">
                                        <p class="black ui label">{{vendor.created_at | amCalendar}}</p>
                                        <div class="item right floated">
                                            Status: <span class="ui green" ng-if="vendor.is_approved" style="color:green">Approved</span>
                                            <span class="ui red" ng-if="!vendor.is_approved" style="color:red">Pending</span>
                                        </div>
                                    </div>

                                    <div class="ui divider"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right floated meta" ng-if="vendors >= 10">
                    <a class="right floated link">
                        View All
                    </a>
                </div>
            </div>

        </div>
        <div class="item">
            <div class="ui middle center aligned grid" ng-show="isEditing">
                <div class="column">
                    <form class="ui inverted form" name="passForm" id="passForm" ng-submit="passForm.$valid && update()" novalidate>
                        <h3 class="ui grey header">Change Password</h3>
                        <div class="field">
                            <label class="ui blue label">New password</label>
                            <input type="password" placeholder="Password" ng-model="user.password" required>
                        </div>

                        <div class="field">
                            <label class="ui blue label">Confirm Password</label>
                            <input type="password" placeholder="Confirm Password" ng-model="new.confPass" required>
                        </div>

                        <button class="ui blue right floated button" type="submit" ng-click="cancelEditing()">Submit</button>

                        <button class="ui right floated button" ng-click="cancelEditing()" type="button">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <notify-bar></notify-bar>
</div>